.cart-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 8rem 0 5.5rem 0;
  text-transform: uppercase;
}

.cart-element {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 0 3.2rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.cart-element:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}

.info-box h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 2.7rem;
  padding-bottom: 1.6rem;
}

.info-box h3 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  padding-bottom: 4.3rem;
}

.amount-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}

.choice-box {
  display: flex;
}

.image-box {
  width: 20rem;
  background-color: #fff;
  position: relative;
}

.image-box img {
  width: 100%;
}

.img-navigation {
  position: absolute;
  bottom: 1.8rem;
  right: 1.6rem;
  display: flex;
  gap: 0.8rem;
}

.less,
.greater {
  width: 2.4rem;
  height: 2.4rem;
  background-color: rgba(0, 0, 0, 0.73);
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.8rem;
}

.plus-sign,
.minus-sign {
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid var(--color-black);
  cursor: pointer;
  position: relative;
}

.plus-sign::before,
.minus-sign::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 15px;
  background-color: var(--color-black);
}

.plus-sign::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 1px;
  background-color: var(--color-black);
}

.total-grid {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 3px;
}

.total-grid p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.8rem;
}
